= form_for answer, html: { style: "display: #{hidden ? 'none' : 'block'}" }, remote: true do |f|
  = render 'answers/answer_fields', f: f
  .right
    = f.submit t('.update_answer'), class: 'btn btn-primary'
