/* universal */

body {
  padding-top: 60px;
  background-color: black;
  color: silver;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

textarea {
  resize: vertical;
}

.right  {
  text-align: right;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.navbar, .form-control, .sidebar-nav {
  background-color: black;
  color: green;
}

.top-buffer {
  margin-top:20px;
}

.bottom-buffer {
  margin-bottom:20px;
}

.best-answer {
  background-color: black;
  // color: green;
  border: 2px solid green;
  border-radius: 5px;
  padding: 15px;
}

.rating-value {
  margin-top:10px;
  margin-bottom:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: gray;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}


/* tables */

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #333;
}

td, th {
  padding: 5px;
}

thead {
  font-weight: bold;
  font-size: 1.3em;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  color: gray;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: gray;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

a {
  color: #0174DF;
  &:hover {
    color: #DF7401;
  }
}

ul {
    // list-style-type: none;
    list-style-position: inside;
    padding-left: 0px;
}​


/* buttons */

.btn {

}

.btn-black {
  background: black;
  color: silver;
  border-color: silver;
}

.btn-black:hover {
  color: orange;
}

.btn-xxs {
  font-size: 9px;
  padding: 1px 5px;
  margin-left: 10px;
  border-color: silver;
  color: silver;
}

.btn-xxs:hover {
  color: red;
}


/* errors */

#error_explanation {
  ul {
    margin: 0 0 7px 0;
  }

  h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  margin-bottom: 0px;
  color: #d9534f;
  }
}

.field_with_errors {
  .form-control {
    color: red;
    border: 2px solid #d9534f;
  }
}
