.right
  = link_to t('links.edit'), '',
            id: "edit-#{name_of(resource)}-#{resource.id}",
            class: "edit-#{name_of(resource)}-link",
            data: { resource_id: resource.id }
.right
  = link_to t('links.destroy'), resource, method: :delete, remote: remote,
            id: "destroy-#{name_of(resource)}-#{resource.id}",
            class: "destroy-#{name_of(resource)}-link",
            data: { confirm: t('common.sure') }
